// Name:            Player
// Description:     Component to create player
//
// Component:       `player`
//
// Sub-objects:     `player-title`
//==========================================================

// Variables
// =========================================================

.player__grid {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "sidebar"
    "controls";
  grid-template-columns: 100%;
  grid-template-rows:
    0px
    0px 
    1fr
    0px
    120px;
  grid-gap: 6px 0px;
  height: calc(100vh - 12px); /* 2x the gap */
  max-width: 1280px;
}

.player__grid > * {
  display: grid;
}

.player__header { 
  background-color: #FEBAC5;
  grid-area: header; 
}
.player__screen {
  background-color: #C2EAE9;
  grid-area: main; 
}
.player__menu {
  background-color: #FACFD7;
  grid-area: menu;
}
.player__sidebar {
  background-color: #6CD1EA;
  grid-area: sidebar;
}
.player__controls {
  background-color: #040404;
  grid-area: controls;
}

@media screen and (min-width: 600px) {
  .player__grid {
    grid-template-areas:
      "header header header"
      "menu main sidebar"
      "controls controls controls";
    grid-template-columns:
      0px 1fr 0px;
    grid-template-rows:
      0px
      1fr
      160px;
  }
}
// https://codepen.io/bunnyhawk/pen/wJgdQb
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/


// Player Screen
.player__screen {
  overflow-x: auto;

  .player__screen-collection {
    @include flexbox;
  }

  .player__screen-item {
    display: inline-block;
  }

  img {
    max-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

// Player Controls
.player__controls {
  color: #ffffff;

  .player__timeline {
    output, label {
      padding: 0 0;
    }
    .player__time {
      text-align: center;
    }
    .player__seek-bar {
      margin: 0 10px;
    }
  }

  .player__buttons {
    font-size: 2em;

    * {
      background-color: inherit;
      color: #ffffff;
      border: none;
    }

    li {
      display: inline-block;
    }

  }


// https://davidwalsh.name/flexbox-layouts
  .row {
    display: flex;
  }
  .column {
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  .row .column:first-of-type {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 22px;
  }
  .row:nth-of-type(1) .column:nth-of-type(2) {
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 66px;
  }


}
